{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My project-register</title>
    <link rel="stylesheet" href="{% static 'blog/main.css' %}">
    <link rel="stylesheet" href="{% static 'blog/bootstrap.css' %}">
    <style>
        body{
            background-color: rgb(255, 255, 255);
        }
        .my-container
        {
            width: 60%;
            padding: 20px;
            border: 1px solid gray;
            border-radius: 10px;
            margin-top: 3%;
        }
        h1{
            text-align: center;
        }
       
        button{
            margin-top:15px;
        }
    </style>

</head>

<body>

{%if messages%}
  {% for message in messages %}
  <div class="alert  alert-{{message.tags }}">
    {{ message }}
  </div>
  {% endfor %}
{% endif %}
  
<div class="container my-container"> 
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"><h1>Login</h1></legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-primary" type="submit">Login</button><br>
            <small class="text-muted ml-3"> <a href="{% url 'password_reset' %}">Forgot password?</a> </small>
        </div>
    </form>
    <div class="border-top pt-3">
        <div class="text-muted"> 
             Dont have an account? <a class="ml-2" href="{% url 'register' %}"><button class="btn btn-outline-primary" type="submit">Sign up here</button></a>
        </div>
    </div>
</div>        
      
      


      
     
    
</body>
</html>